---
layout: default
---

<article class="page container">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>
  <div class="page-content">
    {{ content }}
  </div>
  <div class="divider"></div>
  <div class="ads">
    <script type="text/javascript">
      amzn_assoc_placement = "adunit0";
      amzn_assoc_search_bar = "true";
      amzn_assoc_tracking_id = "zhangtaihaome-20";
      amzn_assoc_search_bar_position = "top";
      amzn_assoc_ad_mode = "search";
      amzn_assoc_ad_type = "smart";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
      amzn_assoc_title = "Books from Amazon";
      amzn_assoc_default_search_phrase = "Algorithmic Trading";
      amzn_assoc_default_category = "Books";
      amzn_assoc_linkid = "8b233be1e2d234d6bfb704e91380b543";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  </div>
</article>
